venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.DS_Store
.git/
.gitignore
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
*.tmp
*.local
node_modules/
dist/
build/
*.egg-info/
*.coverage
coverage.xml
htmlcov/
docker-compose.override.yml
*.env
.env*
debug_configs.yaml
k8s/
*.pem
*.key
id_rsa
known_hosts
id_ed25519
id_ed25519.pub
.ssh/
server_method_test.py
